
*.meta

impl/lstm_tutorial/output1/checkpoint

impl/lstm_tutorial/simple-examples/*

impl/lstm_tutorial/output/*

impl/cnn_tutorial/*

*.png

*.pbtxt

*.xml

impl/lstm_tutorial/target/streams/compile/compile/$global/streams/out

impl/lstm_tutorial/target/streams/compile/compileIncremental/$global/streams/out

impl/lstm_tutorial/output_exp/checkpoint

*.com

*.data-00000-of-00001

*.index

*.pyc

*.gz

*.c

*.sh

*.txt

impl/lstm_tutorial/simple-examples/9-char-based-lm/README

impl/lstm_tutorial/simple-examples/models/README

impl/lstm_tutorial/output/checkpoint

impl/lstm_tutorial/reader.py

impl/lstm_tutorial/reader_test.py

impl/lstm_tutorial/simple-examples/2-nbest-rescore/getbest

impl/lstm_tutorial/simple-examples/2-nbest-rescore/gettext

impl/lstm_tutorial/simple-examples/2-nbest-rescore/lattices/latlist

impl/lstm_tutorial/simple-examples/2-nbest-rescore/makenbest

impl/lstm_tutorial/simple-examples/3-combination/README

impl/lstm_tutorial/simple-examples/4-data-generation/README

impl/lstm_tutorial/simple-examples/2-nbest-rescore/README

impl/lstm_tutorial/simple-examples/6-recovery-during-training/README

impl/lstm_tutorial/simple-examples/7-dynamic-evaluation/README

impl/lstm_tutorial/simple-examples/8-direct/README

impl/lstm_tutorial/target/streams/compile/$global/$global/discoveredMainClasses/data

impl/lstm_tutorial/target/streams/compile/dependencyClasspath/$global/streams/export

impl/lstm_tutorial/target/*
